# ignore everthing by default.
*
# Explict Include.
!README.md
!*.yaml
!.gitignore
!alerts
!alerts/*
!Assets
!Assets/*
!Assets/README/*
!Assets/README/DD7002B_Docs/*
!Assets/README/EZsync010_Docs/*
!automation
!automation/*
!automation/AlarmPanel/*
!automation/Shellies/*
!binary_sensor
!binary_sensor/*
!cover
!cover/*
!cover/command_line/*
!esphome
!esphome/*
!input
!input/*
!mqtt
!mqtt/*
!mqtt/sensor/*
!mqtt/switch/*
!node-red
!node-red/flows.json
!python_scripts
!python_scripts/shellies_discovery.py
!sensor
!sensor/*
!scripts
!scripts/*
!scripts/AlarmPanel/*
!switch
!switch/*
!switch/template/*
!template
!template/*
!template/binary_sensor/*
!template/sensor/*
# Explit Exclude.
Assets/floorplans/house.jpg
mqtt/switch/RingAlarm.yaml
esphome/secrets.yaml
input/input_people.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml